.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  
}

.leftcolumn {   
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 5px;
    font-size: 100%;
  }
  
  th {
    background-color: #385B3B;
    color: #FFFFFF;
    font-size: 15px;
  }
  
  td {
    background-color: #d9dcd9;
  }

  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form {
    font-size: 100%;
  
  }
  
  
  .input {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit {
    width: 100%;
    background-color: #385B3B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    
  }

  .leftcolumn {   
    float: left;
    width: 70%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
  }
  

  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  .input {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit {
    width: 100%;
    background-color: #385B3B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }