/* 

.table {
    width: 80%;
}

.table_content {
    width: 95%;
    border: 1em;
    padding: 0.5em;
    margin: 1em;
}

.thead th {
    background-color: rgb(236, 235, 235);
    border: 1px solid #ddd;
    padding: 2px;
    color: black
}

.tbody td {
    border: 1px solid #ddd;
    padding: 2px;
}

.ticketsRow tr:hover {
    color: #0bf20f;
}

.addnewfacilitybtn {
    width: 15%;
    margin-top: 1em;
    margin-left: 82.5%;
    border-radius: .65em;
    background-color: #545454;
    margin-bottom: 1em;
    ;
}

.addnewfacilitybtn:hover {
    background-color: #2f9e30;
}

.searchbox {
    margin-right: 78%;
    width: 15%;
    margin-left: 2.8em;
    color: white;
    border-radius: .65em;
    ;
}

.header {
    margin-left: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: 2px;

} */ */