.ticketsTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketsTable h {
  align-items: center;
}
.tickets_table_content {
  border-collapse: collapse;
  margin: 25px 0;
  margin-top: 0%;
  font-size: 100%;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
 
}

.tbody tr:hover {
  color: #2f9e30;
}

.tickets_table_content tbody {
  cursor: pointer;
}


.tickets_table_content thead {
  background-color: #980000;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.tickets_table_content th,
.tickets_table_content td {
  padding: 12px 15px;
  
}



.tickets_table_content tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tickets_table_content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tickets_table_content tbody tr:last-of-type {
  border-bottom: 2px solid gray;
}

.tickets_table_content tbody td[data-href]{
  cursor: pointer;
  
}

.button-info {
  background-color: #008CBA;
  height: 30px;
  width: 60px;
  border: #008CBA;
}

.button-danger {
  background-color: red;
  height: 30px;
  width: 60px;
  border: red;
}
.errorMessage{
  color: red;
}


.tickets_search_bar{
  margin-left: 75%;
  padding-left: 10px;
  display: flex;
  margin-right: 1%;
  margin-bottom: 1%;
}

.tickets_date_filter{
  margin-left: 7%;
  width: 10%;

}

  .buttonadd {
    padding: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    background-color: teal;
    color: white;
    width: 250px;
    height: 50px;
    margin-left: 85%;
  }