

.title {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.pageTitle {
  display: flex; 
  flex-direction: column;
  align-items: center;
}


.summary {
      display: flex;
      padding: 20px;
      gap: 20px;
}

.charts {
      display: flex;
      padding: 20px;
      gap: 20px;
}

.charts {
      padding: 5px 20px;
}


.summary1 {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

