.facilitiesSummary {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}

.summaryItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
    

}

.facilitiesSummary:hover {
    background-color: rgb(81, 215, 206);
  }

  .homaBay {
    align-items: center ;
    font-weight: bold;
    
    
}

.ticketsChart{
    flex: 5;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

