.inventorySum {
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    width: 20em;
    margin-right:1em;
    float: left;
    margin: 1em;
    margin-left: 0.5em;
}
/* .inventorySum2 {
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    width: 20em;
    float: left;
} */



.summaryItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;


}

/* .inventorySum:hover {
    background-color: rgb(81, 215, 206);
} */

.inventorySum:hover {
    background-color: rgb(81, 215, 206);
}

.homaBay {
    align-items: center;
    font-weight: bold;


}