section {
    width: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
    display: table-cell;
    vertical-align: middle;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(166, 169, 168, 0.596);
    border-radius: 20px;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
input[type="text"],
input[type="password"],
input [type="checkbox"],
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    align-items: left;
}

label
 {
    margin-top: 2%;
}

.button {
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(166, 169, 168, 0.596);
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    width: 15%;
    margin-left: 82.5%;
}
.button:hover{
    background-color: #2f9e30;
}