.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.header {
    position: relative;
    width: 514px;
    height: 91px;
    left: 136px;
    margin-top: 1%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 274px;
    height: 48px;
    left: 1300px;
    top: 228.59px;
    background-color: green;
}

.search {
    position: absolute;
    width: 250px;
    height: 50px;
    right: 15%;
    top: 18.5%;
    color: rgba(46, 229, 157, 0.4);
    display: flex;
    background-color:transparent;
    border:none;
    font-size: 25px; 
     display: flex;
        margin-top: 5%;
        margin-right: 2%;
}




.table-header {
    overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
} 

.table {
    display: flex;
    align-items: left;
    margin-top: 3%;
    margin-right: 1%;
    width: 100%;

}

.table_content {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 1px;
    min-width: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.upper-section{
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.left-panel{
    display: flex;
    margin-left: 2%;
}



.table_content thead {
    background-color: green;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table_content th,
.table_content td {
    padding: 12px 15px;
}
 .table_content tbody tr:last-of-type {
     border-bottom: 2px solid green;
 }

 .table_content tbody td[data-href] {
     cursor: pointer;

 }
 
.buttonadd {
    padding: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    background-color: teal;
    color: white;
    /* width: 250px;
    height: 50px; */
    margin-left: 85%;
}
.searchbox{
    margin-right: 15%;
    padding: 0.5rem;
        margin-top: 0.5rem;
        vertical-align: middle;
            border-radius: 0.5rem;
            width: 30%;
            
}